html, body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: burlywood;
    color: #333;
    font-weight: bold;
    height: 80px;
    padding: 10px;
    font-size: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
}

main {
    padding: 20px;
    flex: 1;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: end;
    padding: 10px;
}

.card:first-child {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("imagenes/imagen de jauja.jpg");
    background-size: cover;
    height: 300px; /* Example height, adjust as needed */
}

h2, p {
    text-align: center;
}
